.page-header
  - if current_user.admin?
    = link_to new_person_path, class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-plus
      New Person
  %h1 Listing people

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th No
        %th Name
        %th Email
        %th Password
        %th Phone
        %th Address
        %th
        %th
        %th

    %tbody
      - @people.each_with_index do |person, index|
        %tr
          %th= index + 1
          %td= person.name
          %td= person.email
          %td= person.password
          %td= person.phone
          %td= person.address
          %td= link_to 'Show', person
          %td= link_to 'Edit', edit_person_path(person)
          %td= link_to 'Destroy', person, data: { confirm: 'Are you sure?' }, method: :delete

