.page-header
  = link_to admin_articles_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_admin_article_path(@article), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show article

%dl.dl-horizontal
  %dt Name:
  %dd= @article.name
  %dt Body:
  %dd= @article.body
  %dt Date:
  %dd= @article.date
  %dt Category:
  %dd= @article.category.name
