.page-header
  = link_to admin_users_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_admin_user_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-info-sign
    Show
  %h1 Editing User

= form_for [:admin, @user], html: { class: "form-horizontal", user: "form" } do |f|
  -if @user.errors.any?
    .alert.alert-danger.alert-dismissable{user: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@user.errors.count, "error")} prohibited this role from being saved:"

      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :email, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :email , class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
